.create_post{
    position: realtive;
    
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
    z-index: 1;
}

.btn-postBtn{
    border-radius:20px;
    height: 90%;
    width: 200px;
    font-weight: bold;
    font-size: 20px;

}

.add_photos{
    position: absolute;
    top: 110px;
    right: 40px;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.cate{
    position: absolute;
    top:123px;
    right: 100px;
}

.user_name{
    color: black;
    justify-content: center;
    align-content: center;
}

input[type="file"] {
    display: none;
}