.mainColor{
    color: rgb(255, 140, 20); 
}

.borderColor{
    border-color: rgb(255, 140, 20);
}

.bgColor{
    background-color: rgb(255, 140, 20);
}

.navBar{
    z-index: 100;
    position: sticky;
    top: 0;
}

.logoName{
    font-size: 45px;
    position: relative;
    top: 5px;
}

.category{
    width: 400px;
    display: inline;
}

.categoryUL{
    line-height: 30px;
    font-size: 25px; 
}

p{
    padding: 0px;
    margin: 0px;
}

.active p{
    color: #007BFF;
}

.categoryUL .active{
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    border: solid 3px;
    border-color: rgb(255, 140, 20);
}

.categoryUL li:hover{
    line-height: 50px;
}

.categoryUL :hover{
    font-size: 30px;
    text-decoration: none;
    color: #1100ff;
}

.categoryUL a:active{
    line-height: 30px;
    border-color: rgb(255, 140, 20);
}

.contentUL{
    display: inline;
}

.postImg{
    width: 300px;
    height: 300px;
}

.post{
    position: relative;
    width: 100%;
    height: 90px;
    cursor: pointer;
    border: none;
    padding: 15px;
}

.post::placeholder {
    color: rgb(103, 168, 18);
    opacity: 0.8; /* Firefox */
    font-size: 30px;
}