.navbarColor{
    background: linear-gradient(0.25turn, #b9dff0, #ebf8e1, #f5d1ab);
}


.navbarTopColor{
    background: linear-gradient(to top, #b9dff0, #ebf8e1, #f5d1ab);
}

.backgroundColor{
    background-color: rgb(157, 161, 160); 
}

.mainColor{
    color: rgb(255, 114, 20); 
}

.borderColor{
    border-color: rgb(255, 114, 20); 
}

.postColor{
    background: linear-gradient(to right, #b9dff0, #dff7e2, #e9f8de, #f5d1ab);
}

.postContentColor{
    background: linear-gradient(to bottom, #f1fad9, #ebf8e1, #f1fad9);
}

.bgColor{
    background-color: rgb(255, 114, 20); 
}

.navBar{
    z-index: 100;
    position: sticky;
    top: 0;
}

.logoName{
    font-size: 45px;
    position: relative;
    top: 5px;
}

.category{
    width: 400px;
    display: inline;
}

.categoryUL{
    line-height: 30px;
    font-size: 25px; 
    width: 300px;
}

p{
    padding: 0px;
    margin: 0px;
}

.active p{
    color: #007BFF;
}

a:hover {
    text-decoration: none;
}

.categoryUL .active{
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    border: solid 3px;
    border-color: rgb(255, 140, 20);
}

.categoryUL li:hover{
    line-height: 50px;
}

.categoryUL :hover{
    font-size: 30px;
    text-decoration: none;
    color: #1100ff;
    width: 310px;
}

.categoryUL a:active{
    line-height: 30px;
    border-color: rgb(255, 140, 20);
}

.contentUL{
    display: inline;
}

.postImg{
    width: 300px;
    height: 300px;
}

.post{
    position: relative;
    width: 100%;
    height: 90px;
    cursor: pointer;
    border: none;
    padding: 15px;
}

.post::placeholder {
    color: rgb(103, 168, 18);
    opacity: 0.8; /* Firefox */
    font-size: 30px;
}

.unlike{
    display: none;
}

.showInteraction{
    font-size: 20px;
}

.interaction{
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    background-color: #EFEFEF;
}

.input_cmt{
    position: relative;
}

.cmt_input {
    width: 85%;
}

.cmtBtn{
    position: absolute;
    top: 0;
    right: 14px;
}

.image-post{
    max-width: 300px;
    max-height: 300px;
}

.like{
    width: 94%;
    height: 100%;
    border: none;
    background-color: none;
    padding: 0px;
}

.like:active{
    border-color: #EFEFEF;
}

.comments{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cmt_card{
    position: relative;
}

.cmt_option{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.contentComment{
    position: relative;
    left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.post_option{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.update_post{
    display: none;
}
