.noti{
    top: 60px;
    right: 0px;
    left: unset;
    width: 460px;
    max-height: 370px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .noti:before{
    content: "";
    position: absolute;
    top: -15px;
    right: 20px;
    border: 10px solid rgb(255, 114, 20); 
    border-color: transparent transparent rgb(255, 114, 20); 
  }
  
  .notification-box{
    padding: 10px 0px; 
  }