.avatar {
    position: relative;
    top: -120px;
    z-index: 2;
}

#ok {
    border: 3px solid black;
    border-radius: 100% 100% 100% 100%;
}

.background {
    top: -20%;
    position: relative;
    z-index: 1;
}

.brand {
    position: relative;
    top: -100px;
}

.info {
    margin-top: 10px;
}
