.background{
    width: 900px; 
    height: 250;
}

.avatar{
    width: 230px; 
    height: 235; 
    position: relative; 
    top: -100px;
    z-index: 2;
}

.username{
    position: relative; 
    top: -80px; 
    font-size: 50px;
}


#wallBtn {
    position: relative; 
    top: -50px; 
    font-size: 20px;
}

.inputRow{
    padding: 5px;
}

.inputField{
    padding: 15px;
}

input[type="text"]:disabled {
    background: rgb(247, 255, 224);
}