<link rel="stylesheet" href="./css/contact.css">

<div class="container text-center my-5">
    <iframe width="900" height="400" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3eH0BhwvdTERPZpT1PEAOQQ&key=AIzaSyAeapyL9rv94yP5PggjGIAuAcEMlJc3Dcs" allowfullscreen></iframe>
</div>
<div class="container my-5">
    <div class="info">
        <div class="card">
            <div class="card-header bgColor ">
                <h2 class="text-center">Our information</h2>
            </div>
            <div class="card-body formColor">
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Email</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="first name" value="huhu@gmail.com" disabled>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Address</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="last name" value="227 Nguyen Van Cu stress, 4 ward, 5 district, Ho Chi Minh City, Viet Nam" disabled>
                        </div>       
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-2 inputRow">
                        <h5>Phone number</h5>
                    </div>
                    <div class="col inputRow">
                        <div class="form-row">
                            <input type="text" class="form-control p-4" name="phone" value="0123456789" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="info">
        <div class="card">
            <div class="card-header bgColor">
                <h2 class="text-center">Contact Form</h2>
            </div>
            <div class="card-body formColor">
                <div class="row m-2">
                    <div class="col-3 inputRow contact inputField">
                        <input type="text" class="form-control p-4" name="first name" placeholder="Name">
                    </div>
                    <div class="col-4 inputRow contact inputField">
                        <input type="text" class="form-control p-4" name="first name" placeholder="Email">
                    </div>
                    <div class="col-4 inputRow contact inputField">
                        <input type="text" class="form-control p-4" name="first name" placeholder="Subject">
                    </div>
                </div>
                <div class="row m-3 p-2">
                    <textarea class="form-control p-4 text-dark" id="w3review" name="first name" placeholder="Your messenger" rows="4" cols="50"></textarea>
                </div>
                <div class="row m-2 justify-content-center">
                    <button type="button" class="btn bgColor btn-block btn-sendMess mt-3">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>