<div class="bg">
    <div class="logoForm">
        <div class="row">
            <div class="col">
                <img src="./images/logo.png" style="height: 250px; width: 250px;" alt="logo">
            </div>
            <div class="col d-flex align-items-center">
                <p><span class="text-center text-primary welcome">Mind-Sharing</span><br>Connecting and sharing knowledge</p>
            </div>
        </div>
    </div>
    <div class="boxForm loginForm">
        <input type="text" class="inputField loginField" placeholder="Username" required>
        <input type="text" class="inputField loginField" placeholder="Password" required>
        <div class="checkBox"><input type="checkbox"><span> Remember Password</span></div>
        <button class="btn loginBtn"> Login </button>
        <h6 class="linkRegister">If you don't have account, <a href="./register">click here</a> to create account</h6>
    </div>
</div>