<form class="boxForm loginForm" action="/login/get_infor_login" method="POST">
    <div class="logAnnoun">{{resAnnoun}}</div>
    <input type="text" class="inputField loginField" name="account" placeholder="Username" required>
    <input type="password" class="inputField loginField" name="password" placeholder="Password" required>
    <div class="checkBox"><input name="remember" type="checkbox"><span> Remember Password</span></div>
    <button class="btn loginBtn"> Login </button>
    <h6 class="linkRegister">If you don't have account, <a href="/register">click here</a> to create account</h6>
</form>
<script src="./js/login.js"></script>
<script>
    Logout();
</script>