<link rel="stylesheet" href="./css/message.css">

<div class="row ml-5 mr-5">
      <div class="col-3 overflow-hidden">
          <div class="card my-4">
              <div class="card-header">
                  <h2>Messages</h2>
              </div>
              <div class="card-body">
                  <ul class="list-group categoryUL">
                      <li class="list-group-item username active">
                          <img src="../images/user_1.jpg" class="img-thumbnail rounded-circle avatar" style="height: 60px; width: 60px;" alt="avatar">
                          <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ratione deleniti vero laudantium facere ipsa veritatis illo corrupti libero sequi tenetur fugit, inventore recusandae itaque. Illum placeat earum quibusdam illo.</a></li>
                      <li class="list-group-item username">
                          <img src="../images/user_1.jpg" class="img-thumbnail rounded-circle avatar" style="height: 60px; width: 60px;" alt="avatar">
                          <a href="#">User 2</a></li>
                      <li class="list-group-item username">
                          <img src="../images/user_1.jpg" class="img-thumbnail rounded-circle avatar" style="height: 60px; width: 60px;" alt="avatar">
                          <a href="#">User 3</a></li>

                    </ul>
              </div>
          </div>
      </div>
      <div class="col my-4"> 
          <div class="card">
              <div class="card-header">
                  <a href="" style="font-size: 45px;">
                  <img src="../images/user_1.jpg" class="img-thumbnail rounded-circle avatar" style="height: 80px; width: 80px;" alt="avatar">
                  User 1
                  </a>
              </div>
              <div class="card-body box-chat">
                <div class="row">
                    <div class="box-mess guy col-auto" id="guy">
                        Hello!
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="box-mess me col-auto" id="me">
                        Hi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro asperiores fugit odio facilis! Ipsa quibusdam labore impedit officiis, sint voluptate illum aliquam dolores enim tempora error suscipit nisi magni!
                    </div>
                </div>
                                <div class="row">
                    <div class="box-mess guy col-auto" id="guy">
                        Hello!
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="box-mess me col-auto" id="me">
                        Hi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro asperiores fugit odio facilis! Ipsa quibusdam labore impedit officiis, sint voluptate illum aliquam dolores enim tempora error suscipit nisi magni!
                    </div>
                </div>
                                <div class="row">
                    <div class="box-mess guy col-auto" id="guy">
                        Hello!
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="box-mess me col-auto" id="me">
                        Hi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro asperiores fugit odio facilis! Ipsa quibusdam labore impedit officiis, sint voluptate illum aliquam dolores enim tempora error suscipit nisi magni!
                    </div>
                </div>
                                <div class="row">
                    <div class="box-mess guy col-auto" id="guy">
                        Hello!
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="box-mess me col-auto" id="me">
                        Hi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro asperiores fugit odio facilis! Ipsa quibusdam labore impedit officiis, sint voluptate illum aliquam dolores enim tempora error suscipit nisi magni!
                    </div>
                </div>
                  
              </div>
              
                <div class="card-footer">
                    <form class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input mr-2 mt-1" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button class="btn" type="submit" id="btn-chat"><i class="fa fa-paper-plane fa-2x mainColor"></i></button>
                        </span>
                    </form>
                </div>

          </div>
              
              
          </div>
      </div>
    </div>