<link rel="stylesheet" href="./css/profile.css">
<div class="container">
    <div class="background text-center">
        <img src= "./images/background.jpg"  alt="bacground">
    </div>
    <div class="avatar">
        <center><img src="./images/user_1.jpg" class="img-thumbnail" id="ok" style="width: 200px; height: 200px;" alt="avatar"></center>
    </div>
    <div class="brand">
    <center><h3>Ricardo Milos</h3></center>
    <a href="/user_wall"><center><input type="button" class="btn btn-primary" id="proBtn" value="See Post"></center></a>
    </div>
    <div class="info">
        <div class="card">
        <div class="card-header">
            <h2>Public Profile</h2>
        </div>
        <div class="card-body">
            <div class="row m-2">
            <div class="col-3">
                <h5>First Name</h5>
            </div>
            <div class="col">
                <div class="form-row">
                <input type="text" class="form-control" name="first name" value="Ricardo">
                </div>
            </div>
            </div>
            <div class="row m-2">
            <div class="col-3">
                <h5>Last Name</h5>
            </div>
            <div class="col">
                <div class="form-row">
                <input type="text" class="form-control" name="last name" value="Milos">
                </div>       
            </div>
            </div>
            <div class="row m-2">
                <div class="col-3">
                <h5>Email Address</h5>
                </div>
                <div class="col">
                <div class="form-row">
                    <input type="text" class="form-control" name="email" value="ricardo.milos@gmail.com">
                </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-3">
                <h5>Phone number</h5>
                </div>
                <div class="col">
                <div class="form-row">
                    <input type="text" class="form-control" name="phone" value="911">
                </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-3">
                <h5>Nationality</h5>
                </div>
                <div class="col">
                <div class="form-row">
                    <input type="text" class="form-control" name="nation" value="Vietnam">
                </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-3">
                <h5>Bio</h5>
                </div>
                <div class="col ">
                <div class="form-row">
                    <input type="text" class="form-control" name="phone" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, quod!">
                </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</div>  