 <div class="row">
      <div class="col-3">
          <div class="card my-4">
              <div class="card-header">
                  <ul class="list-group categoryUL">
                      <li class="list-group-item"><a href="/setting-general">General</a></li>
                      <li class="list-group-item"><a href="/setting-privacy">Privacy</a></li>
                      <li class="list-group-item active"><a href="">Password and Security</a></li>

                    </ul>
              </div>
          </div>
      </div>
      <div class="col-8 my-4">
          <div class="card">
              <div class="card-header">
                  <h1>Change password</h1>
              </div>
              <div class="card-body">
                <div class="row m-2">
                    <div class="col-3">
                      <h5>Old password</h5>
                    </div>
                    <div class="col-3">
                      <div class="form-row">
                        <input type="text" class="form-control" name="old pass" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col-3">
                      <h5>New password</h5>
                    </div>
                    <div class="col-3">
                      <div class="form-row">
                        <input type="text" class="form-control" name="new pass" value="">
                      </div>       
                    </div>
                  </div>
                  <div class="row m-2">
                      <div class="col-3">
                        <h5>Confirm new password</h5>
                      </div>
                      <div class="col-3">
                        <div class="form-row">
                          <input type="text" class="form-control" name="comfirm" value="">
                        </div>
                      </div>
                  </div>
                  <div class="row m-2">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                      <div class="form-row">
                        <input type="button" class="btn btn-primary" id = "proBtn" value = "Save change">
                      </div>
                    </div>
                </div>
                  
              </div>
              
          </div>
      </div>
    </div>