 <div class="row">
      <div class="col-3">
          <div class="card my-4">
              <div class="card-header">
                  <ul class="list-group categoryUL">
                      <li class="list-group-item active"><a href="">General</a></li>
                      <li class="list-group-item"><a href="/setting-privacy">Privacy</a></li>
                      <li class="list-group-item"><a href="/setting-password">Password and Security</a></li>

                    </ul>
              </div>
          </div>
      </div>
      <div class="col-8 my-4">
          <div class="card">
              <div class="card-header">
                  <h1>General</h1>
              </div>
              <div class="card-body">
                <div class="row m-2">
                    <div class="col-3">
                      <h5>First Name</h5>
                    </div>
                    <div class="col">
                      <div class="form-row">
                        <input type="text" class="form-control" name="first name" value="Ricardo" disabled>
                      </div>
                    </div>
                    <ul><input type="button" class="btn btn-primary" id = "proBtn" value = "Edit"></ul>
                  </div>
                  <div class="row m-2">
                    <div class="col-3">
                      <h5>Last Name</h5>
                    </div>
                    <div class="col">
                      <div class="form-row">
                        <input type="text" class="form-control" name="last name" value="Milos" disabled>
                      </div>       
                    </div>
                    <ul><input type="button" class="btn btn-primary" id = "proBtn" value = "Edit"></ul>
                  </div>
                  <div class="row m-2">
                      <div class="col-3">
                        <h5>Email Address</h5>
                      </div>
                      <div class="col">
                        <div class="form-row">
                          <input type="text" class="form-control" name="email" value="ricardo.milos@gmail.com" disabled>
                        </div>
                      </div>
                      <ul><input type="button" class="btn btn-primary" id = "proBtn" value = "Edit"></ul>
                  </div>
                  <div class="row m-2">
                      <div class="col-3">
                        <h5>Phone number</h5>
                      </div>
                      <div class="col">
                        <div class="form-row">
                          <input type="text" class="form-control" name="phone" value="911" disabled>
                        </div>
                      </div>
                      <ul><input type="button" class="btn btn-primary" id = "proBtn" value = "Edit"></ul>
                  </div>
                  <div class="row m-2">
                      <div class="col-3">
                        <h5>Nationality</h5>
                      </div>
                      <div class="col">
                        <div class="form-row">
                          <input type="text" class="form-control" name="nation" value="Vietnam" disabled>
                        </div>
                      </div>
                      <ul><input type="button" class="btn btn-primary" id = "proBtn" value = "Edit"></ul>
                  </div>
                  <div class="row m-2">
                      <div class="col-3">
                        <h5>Background</h5>
                      </div>
                      <div class="col ">
                        <div class="form-row">
                          <div class="dropdown open">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                  Dark
                                </button>
                            <div class="dropdown-menu" aria-labelledby="triggerId">
                              <a class="dropdown-item" href="#">Light</a>
                              <a class="dropdown-item disabled" href="#">Dark</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                  </div>
              </div>
              
          </div>
      </div>
    </div>