<form class="password_page" action="/setting/get_infor_change_pass" method="POST">
  <div class="row">
    <div class="col-3">
      <div class="card my-4">
        <div class="card-header">
          <ul class="list-group categoryUL">
            <li class="list-group-item"><a href="/setting/general">General</a></li>
            <li class="list-group-item"><a href="/setting/privacy">Privacy</a></li>
            <li class="list-group-item active"><a href="/setting/password">Password and Security</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-8 my-4">
      <div class="card">
        <div class="card-header">
          <h1>Change password</h1>
        </div>
        <div class="card-body">
          <div class="row m-2">
            <div class="col-3">
              <h5>Old password</h5>
            </div>
            <div class="col-3">
              <div class="form-row">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
            </div>
          </div>
          <div class="row m-2">
            <div class="col-3">
              <h5>New password</h5>
            </div>
            <div class="col-3">
              <div class="form-row">
                <input type="password" class="form-control" name="new_password" placeholder="Password" required>
              </div>
            </div>
          </div>
          <div class="row m-2">
            <div class="col-3">
              <h5>Confirm new password</h5>
            </div>
            <div class="col-3">
              <div class="form-row">
                <input type="password" class="form-control" name="confirm_password" placeholder="Password" required>
              </div>
              <div class="Announ">{{Announ}}</div>
            </div>
          </div>
          <div class="row m-2">
            <div class="col-3">
            </div>
            <div class="col-3">
              <div class="form-row">
                <button class="btn btn-primary saveBtn" id="proBtn">Save change</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <script src="/js/setting.js"></script>
  <script>
    {{ func }}
  </script>
</form>

