<div class="container">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <button type="submit" class="btn"> Upload</button>
    </form>
    <img src="https://mind-sharing.s3-ap-southeast-1.amazonaws.com/use_1_img_1.jpg" alt="">
    {{!-- https://mind-sharing.s3-ap-southeast-1.amazonaws.com/ --}}
</div>