<form action="upload" method="POST" enctype="multipart/form-data">
    <input type="text" name="name"><br>
    <input type="text" name="name2"><br>
    <input type="file" name="files" multiple><br>
    <input type="submit">
</form>