<link rel="stylesheet" href="./css/wall.css">
<div class="container">
    <div class="background text-center">
        <img src="./images/background.jpg" alt="bacground">
    </div>
    <div class="avatar">
        <center><img src="./images/user_1.jpg" id="ok" style="width: 200px; height: 200px;" alt="avatar"></center>
    </div>

    <div class="brand">
        <center>
            <h3>Ricardo Milos</h3>
        </center>
        <a href="/profile">
            <center><input type="button" class="btn btn-primary" id="addBtn" value="See Profile"></center>
        </a>
    </div>
    <div class="content">
        <div class="card">
            <div class="card-header">
                <a href="#"> <img src="./images/user_1.jpg" class="rounded-circle" style="width: 70px; height: 70px;"
                        alt="user_img"> </a>
                <span class="h3">User name 1</span>
            </div>
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam optio
                    consequuntur eligendi maxime sequi similique quae repellendus! Aut sequi saepe incidunt, rerum fugit
                    iste ipsum minus vel earum dolorum culpa.</h4>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-md-9">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span>17</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <span>17</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <span>9</span>
                        <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col text-center border-right border-secondary p-0 m-0">
                        <span class="text-dark" id="like" style="cursor: pointer;">Like</span>
                    </div>
                    <div class="col text-center border-right border-secondary p-0 m-0">
                        <span class="text-dark" id="cmt" style="cursor: pointer;">Comment</span>
                    </div>
                    <div class="col text-center">
                        <span class="text-dark" id="share" style="cursor: pointer;">Share</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <span class="h6 font-weight-bold"> See more comments... </span>
                <div class="card">
                    <div class="card-header">
                        <a href="#"> <img src="./images/user_2.jpg" class="rounded-circle"
                                style="width: 30px; height: 30px;" alt="user_img"> </a>
                        <span class="h5 text-dark"> User name 2 </span>
                        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam optio
                            consequuntur eligendi maxime sequi similique quae repellendus! Aut sequi saepe incidunt,
                            rerum fugit iste ipsum minus vel earum dolorum culpa.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>