<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom borderColor navBar">
    <a class="navbar-brand" style="text-shadow: 2px 2px 5px rgb(67, 68, 68);" href="./">
        <img src="./images/logo.png" style="height: 80px; width: 80px;" alt="logo">
        <span class="logoName mainColor">Mind-Sharing</span>
    </a>
    <form class="form-inline my-2 my-lg-0 ml-5 mr-5">
        <input class="form-control mr-sm-2 rounded borderColor searchField" type="text" placeholder="Search...">
        <button class="btn btn-outline-success my-2 my-sm-0 borderColor" type="submit"><span><b>Search</b></span> </button>
    </form>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="navbar">
            <li class="nav-item active ml-5 mr-3">
                <a class="nav-link" href="/"><i class="fa fa-home fa-3x mainColor" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item ml-4 mr-3">
                <a class="nav-link" href="/message"><i class="fa fa-commenting fa-3x mainColor" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown ml-4 mr-3">
                <a class="nav-link text-light" href="" id="notiDropdown" role="button" data-toggle="dropdown">
                    <i class="fa fa-bell fa-3x mainColor" aria-hidden="true"></i>
                </a>
                <div id ="notification" class="noti">
                        <ul class="dropdown-menu">
                            <li class="head text-dark bgColor">
                                <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <strong>Notification(3)</strong>
                                    <strong><a href="" class="float-right text-dark">Mark all as read</a></strong>
                                </div>
                            </li>
                            <li class="notification-box">
                                <div class="row">
                                <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="./images/logo.png" class="w-50 rounded-circle">
                                </div>    
                                <div class="col-lg-8 col-sm-8 col-8">
                                    <strong class="text-info">System</strong>
                                    <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="text-warning">06.12.2020, 15:00</small>
                                </div>    
                                </div>
                            </li>
                            <li class="notification-box bg-gray">
                                <div class="row">
                                <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="./images/logo.png" class="w-50 rounded-circle">
                                </div>    
                                <div class="col-lg-8 col-sm-8 col-8">
                                    <strong class="text-info">System</strong>
                                    <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="text-warning">06.12.2020, 15:00</small>
                                </div>    
                                </div>
                            </li>
                            <li class="notification-box">
                                <div class="row">
                                <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="./images/logo.png" class="w-50 rounded-circle">
                                </div>    
                                <div class="col-lg-8 col-sm-8 col-8">
                                    <strong class="text-info">System</strong>
                                    <div>
                                    Lorem ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="text-warning">06.12.2020, 15:00</small>
                                </div>    
                                </div>
                            </li>
                            <li class="footer text-center bgColor">
                                <strong><a href="" class="text-dark">View All</a></strong>
                            </li>
                        </ul>
                </div>
            </li>
            <li class="nav-item ml-4 mr-3">
                <a class="nav-link" href="/profile">
                <i class="fa fa-user-circle-o fa-3x mainColor" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item dropdown ml-4">
                <a class="nav-link" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-square-o-down fa-3x mainColor" aria-hidden="true"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/contact">Contact</a>
                    <a class="dropdown-item" href="/setting-general">Setting & Privacy</a>
                    <a class="dropdown-item" href="/login">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="border borderColor mainColor"></div>
<script src="/js/home.js"></script>
<script>
    var current_user = {{current_user}};
 
    if (current_user == 1){
        setAnonymous();
    }
    else if (current_user == 2){
        setCurrentUser("{{user_name}}");
    }
    else if (current_user == 2){

    }

</script>
